body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
/************* input fields(text and color) ********/
input {
	padding-left: 10px;
	padding-right: 10px;
}
input[type="text"] {
	margin-left: 10px;
	padding: 10px;
	border: none;
	background-color: rgb(221, 221, 221);
	border-radius: 10px;
	outline: none;
}
input[type="color"] {
	border: none;
	background-color: transparent;
}
/*********** button ***************/
button {
	padding: 9px 15px;
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
}
button:hover {
	background-color: rgb(38, 38, 38);
	color: white;
}
/************* color components *****************/
.color_content {
	display: grid;
	margin-top: 60px;
	grid-template-columns: repeat(6, 200px);
	grid-gap: 20px;
	position: relative;
}
.color_box {
	color: white;
}
.color_box:nth-of-type(-n+10){
color: black;
}

.color_copy {
	position: absolute;
	display: inline;
	background-color: rgba(46, 46, 46, 0.5);
	padding-top: 60px;
	color: rgb(71, 71, 71);
	top: 0%;
	left: 0%;
	color: white;
	border-radius: 10px;
	width: 190px;
	height: 100px;
}

.color_section {
	position: relative;
}
.none_copy {
	display: none;
}
/*** small desktop screens ***/
@media (max-width: 1200px) {
	.color_content {
		grid-template-columns: repeat(4, 180px);
	}
}
/****** tablet device****/
@media (max-width: 900px) {
	.color_content {
		grid-template-columns: repeat(3, 180px);
	}
}
/********* mobile devices **********/
@media (max-width: 600px) {
	.color_content {
		grid-template-columns: repeat(1, 200px);
	}
	input[type="text"] {
		width: 20%;
	}
	button {
		font-size: 12px;
	}
}
