body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  padding-left:10px;
  padding-right: 10px;
}
input[type="text"]{
  margin-left: 10px;
  padding:10px;
  border:none;
  background-color:rgb(221, 221, 221);
  border-radius: 10px;
  outline: none;
}
input[type="color"]{
  border:none;
  background-color: transparent;
  
}

button{
  padding: 9px 15px;
					background-color: white;
					border: 1px solid #d9d9d9;
					border-radius:10px;
}
button:hover{
  background-color:rgb(38, 38, 38);
  color: white;
}
.color_content{
  display:grid;
  margin-top: 60px;
  grid-template-columns:repeat(6, 200px);
  grid-gap:20px;
}
@media (max-width: 1200px){
  .color_content{
    grid-template-columns:repeat(4, 180px);
  }
}
@media (max-width: 900px){
  .color_content{
    grid-template-columns:repeat(3, 180px);
  }
}

@media (max-width: 600px){
  .color_content{

    grid-template-columns:repeat(1, 200px);


  }
  input[type="text"]{
    width: 20%;
  }
  button{
    font-size: 12px;

  }
}